# Ignore everything
/*

# Ignore all files named (wherever they are):
.DS_Store
.log

# Except these
# Files
!.clang-format
!.gitignore
!CMakeLists.txt
!README.md
!todo.md

# Directories
!cmake
!include
!src
!tests
